div table tr td {background-color: #CD3333 !important;}
div table tr td a:link,div table tr td a:visited {color: #FFFF00 !important;}
table table table td, .clearfix, .interestsAndDetails, .contactTable, .extendedNetwork , .blurbs, .friendSpace, .friendsComments, div object, .whitetext12, div#mini, ul li div span div, div.vplayer  {background-color: #CDAD00 !important;}
.profileInfo, .interestsAndDetails, .contactTable, .extendedNetwork , .blurbs, .friendSpace,.friendsComments, div#mini, ul li div span div, div.vplayer {border: #222C3C 2px solid !important;}
a {font-weight: normal !important;color: #FFFF00 !important;}
.whitetext12 {padding-top: 5px !important;padding-bottom: 5px !important;}
.blacktext12{padding: 0px 5px !important;}

/* exception */
div#mini, div.vplayer {
	background-color: #222C3C !important;
}